@import url("antd/dist/antd.css");

.article-abstract {
  max-width: 75%;
}

.article-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#load-more__container {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-bar {
  padding: 2.5rem 0;
}
